[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
.vs/
.idea/
*.csproj
!tests/**/*.csproj
tests/**/bin/
tests/**/obj/
*.sln
*.user
*.apk
*.unitypackage
sysinfo.txt
